<!DOCTYPE html>
<html>
<head>
  <title><%= full_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <%= link_to root_path do %>
          <h1 class="title">StyleLust</h1>
        <% end %>
      </section>     
    </nav>

    <section class="right-small">
        <%= link_to likes_path do %>
          <%= image_tag("user.png", class: "user right-off-canvas-toggle") %>
        <% end %>
      </section>
    </nav>

    <%#= sign_in_out_links %>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>StyleLust</label></li>
        <li><%= link_to root_path do %>Home</li>
        <% end %>
        <li><a href="#">About</a></li>
        <li><%= link_to play_path do %>Shop</li>
        <% end %>
        <li><%= link_to likes_path do %>Favorites</li>
        <% end %>
        <li><%= link_to settings_path do %>Settings</li>
        <% end %>
        <li><a href="#">Invite</a></li>
        <li><a href="#">Love</a></li>
        <li><label>Settings</label></li>
        <div id="accordion2">
        <h3>Categories</h3>
        <div>
          <p>
          <%= link_to "Tops", play_path(cat: 'Tops'), class: "button", method: 'update' %>
          </p>
        </div>
        <h3>Pricing</h3>
        <div>
          <p>
          <%= link_to "$1000 Budget", play_path(price: 1000), class: "button", method: 'update' %>
          </p>
        </div>
      </div>






      </ul>
    </aside>

    <section class="main-section">


      <%= yield %>


    </section>

  <a class="exit-off-canvas"></a>

    <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© 2014 StyleLust. All Rights Reserved.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">About</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

  </div>
</div>




</body>
</html>

