<h1 class="play"><%= @items.all[@index].category.name %></h1>
 <div class="row">
 		<div class="small-12 columns deckcontainer">
	    <div class="large-12 small-12 columns" id="itemdeck">
        <div class="product">
	        <% url = @items.all[@index].click_url %>
          <% image = @items.all[@index].image_url %>
          <%= link_to image_tag(image) , url %>
        </div>
	    </div>
	  </div>
		<%= @items.all[@index].name %>
    <br>
        $ <%= @items.all[@index].price %>
    <br><br>
 	 	<div class="large-12 small-12 columns" id="likebar">
 	 		<%= link_to "Dislike", dislike_path(cat: params[:cat], price: params[:price], index: (@index += 1)), class: "button" %>
 	 		<%= link_to "Buy Now", url, class: "button" %>
 			<%= link_to "Love", item_like_path(cat: params[:cat], price: params[:price], index: (@index += 1)), class: "button", method: 'update' %>
    </div>
  </div>



<!-- <div class="row">
  <div class="large-6 columns">
    <div data-alert class="alert-box">
      Some content goes here!!!!
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box success radius">
      Some more content goes here!!!!
      <a href="#" class="close">&times;</a>
    </div>
        <div data-alert class="alert-box alert round">
      Some more content goes here!!!!
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div> -->