<br />

<div class="row">
  <div class="large-6 columns">
    <ul data-orbit>
      <li><img src="//placehold.it/1200x300"></li>
      <li><img src="//placehold.it/1200x300"></li>
    </ul>
  </div>
  <div class="large-6 columns">
  	<h1> Hello, World! </h1>
    <div data-alert class="alert-box">
      Some content goes here!!!!
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box success radius">
      Some more content goes here!!!!
      <a href="#" class="close">&times;</a>
    </div>
        <div data-alert class="alert-box alert round">
      Some more content goes here!!!!
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>


<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>


<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>


